In [2]:
# Importing all the necessary libraries

import pandas as pd
import json

#### The Goal here is to create 4 files 

1) behaviour.csv (from Json format)
2) campaign.csv (from Json format)
3) demographics.csv (from txt format)
4) merged_data (this will be consolidation of all the csv files i.e "behaviour.csv"+"campaign.csv"+"demographics.csv")

In [3]:
# reading the beheviour JSON file and converting it into pandas dataframe and saving it in csv format

# Load JSON data from file
with open('behaviour.json') as f:
    data = json.load(f)

# Initialize an empty list to store dictionaries
rows = []

# Iterate over each dictionary in the list
for item in data:
    # Extract the ID and attributes from the dictionary
    id_ = list(item.keys())[0]
    attributes = item[id_]
    
    # Create a dictionary with ID as a key and attributes
    row = {'ID': id_}
    row.update(attributes)
    rows.append(row)

# Create a DataFrame from the list of dictionaries
df_behaviour = pd.DataFrame(rows)



# Display the DataFrame
print(df_behaviour.head())

         ID  Recency  MntWines  MntFruits  MntMeatProducts  MntFishProducts  \
0   ID_1826        0       189        104              379              111
1      ID_1        0       464          5               64                7
2  ID_10476        0       134         11               59               15
3   ID_1386        0        10          0                1                0
4   ID_5371        0         6         16               24               11

   MntSweetProducts  MntGoldProds  NumDealsPurchases  NumWebPurchases  \
0               189           218                  1                4
1                 0            37                  1                7
2                 2            30                  1                3
3                 0             0                  1                1
4                 0            34                  2                3

   NumCatalogPurchases  NumStorePurchases  NumWebVisitsMonth
0                    4                  6                  1
1                    3                  7                  5
2                    2                  5                  2
3                    0                  2                  7
4                    1                  2                  7

In [4]:
# since we can see that the column ID has data as "ID_1826" so we need to remove the "ID_" part form it

# Remove "ID_" prefix from the "ID" column in each DataFrame
df_behaviour['ID'] = df_behaviour['ID'].str.replace('ID_', '')
print(df_behaviour.head())

      ID  Recency  MntWines  MntFruits  MntMeatProducts  MntFishProducts  \
0   1826        0       189        104              379              111
1      1        0       464          5               64                7
2  10476        0       134         11               59               15
3   1386        0        10          0                1                0
4   5371        0         6         16               24               11

   MntSweetProducts  MntGoldProds  NumDealsPurchases  NumWebPurchases  \
0               189           218                  1                4
1                 0            37                  1                7
2                 2            30                  1                3
3                 0             0                  1                1
4                 0            34                  2                3

   NumCatalogPurchases  NumStorePurchases  NumWebVisitsMonth
0                    4                  6                  1
1                    3                  7                  5
2                    2                  5                  2
3                    0                  2                  7
4                    1                  2                  7

In [5]:
# Save the DataFrame to a CSV file
#df_behaviour.to_csv('behaviour.csv', index=False)

In [6]:
# reading the campaingn JSON file and converting it into pandas dataframe and saving it in csv format




# Load JSON data from file
with open('campaign.json') as f:
    data = json.load(f)

# Initialize an empty list to store dictionaries
rows = []

# Iterate over each dictionary in the list
for item in data:
    # Extract the ID and attributes from the dictionary
    id_ = list(item.keys())[0]
    attributes = item[id_]
    
    # Create a dictionary with ID as a key and attributes
    row = {'ID': id_}
    row.update(attributes)
    rows.append(row)

# Create a DataFrame from the list of dictionaries
df_campaign = pd.DataFrame(rows)

# Display the DataFrame
print(df_campaign.head())

         ID  AcceptedCmp1  AcceptedCmp2  AcceptedCmp3  AcceptedCmp4  \
0   ID_1826             0             0             0             0
1      ID_1             0             1             0             0
2  ID_10476             0             0             0             0
3   ID_1386             0             0             0             0
4   ID_5371             0             0             1             0

   AcceptedCmp5  Response  Complain
0             0         1         0
1             0         1         0
2             0         0         0
3             0         0         0
4             0         1         0

In [7]:
# since we can see that the column ID has data as "ID_1826" so we need to remove the "ID_" part form it

# Remove "ID_" prefix from the "ID" column in each DataFrame
df_campaign['ID'] = df_campaign['ID'].str.replace('ID_', '')
print(df_campaign.head())

      ID  AcceptedCmp1  AcceptedCmp2  AcceptedCmp3  AcceptedCmp4  \
0   1826             0             0             0             0
1      1             0             1             0             0
2  10476             0             0             0             0
3   1386             0             0             0             0
4   5371             0             0             1             0

   AcceptedCmp5  Response  Complain
0             0         1         0
1             0         1         0
2             0         0         0
3             0         0         0
4             0         1         0

In [8]:
# Save the DataFrame to a CSV file
#df_campaign.to_csv('campaign.csv', index=False)
print(df_campaign.head())

      ID  AcceptedCmp1  AcceptedCmp2  AcceptedCmp3  AcceptedCmp4  \
0   1826             0             0             0             0
1      1             0             1             0             0
2  10476             0             0             0             0
3   1386             0             0             0             0
4   5371             0             0             1             0

   AcceptedCmp5  Response  Complain
0             0         1         0
1             0         1         0
2             0         0         0
3             0         0         0
4             0         1         0

In [9]:

# reading the demographics file and converting it into pandas dataframe and saving it in csv format


# Read the text file into a pandas DataFrame
df_demographics = pd.read_csv('demographics.txt', delimiter='\t')

# Display the DataFrame
print(df_demographics)

# Save the DataFrame to a CSV file
#df_demographics.to_csv('demographics.csv', index=False)

         ID  Year_Birth   Education Marital_Status      Income   Kidhome  \
0      1826        1970  Graduation       Divorced  $84,835.00         0
1         1        1961  Graduation         Single  $57,091.00         0
2     10476        1958  Graduation        Married  $67,267.00         0
3      1386        1967  Graduation       Together  $32,474.00         1
4      5371        1989  Graduation         Single  $21,474.00         1
...     ...         ...         ...            ...          ...      ...
2235  10142        1976         PhD       Divorced  $66,476.00         0
2236   5263        1977    2n Cycle        Married  $31,056.00         1
2237     22        1976  Graduation       Divorced  $46,310.00         1
2238    528        1978  Graduation        Married  $65,819.00         0
2239   4070        1969         PhD        Married  $94,871.00         0

      Teenhome Dt_Customer Country
0            0     6/16/14      SP
1            0     6/15/14      CA
2            1     5/13/14      US
3            1     5/11/14     AUS
4            0      4/8/14      SP
...        ...         ...     ...
2235         1      3/7/13      US
2236         0     1/22/13      SP
2237         0     12/3/12      SP
2238         0    11/29/12     IND
2239         2      9/1/12      CA

[2240 rows x 9 columns]

In [10]:
df_demographics

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Country
0,1826,1970,Graduation,Divorced,"$84,835.00",0,0,6/16/14,SP
1,1,1961,Graduation,Single,"$57,091.00",0,0,6/15/14,CA
2,10476,1958,Graduation,Married,"$67,267.00",0,1,5/13/14,US
3,1386,1967,Graduation,Together,"$32,474.00",1,1,5/11/14,AUS
4,5371,1989,Graduation,Single,"$21,474.00",1,0,4/8/14,SP
...,...,...,...,...,...,...,...,...,...
2235,10142,1976,PhD,Divorced,"$66,476.00",0,1,3/7/13,US
2236,5263,1977,2n Cycle,Married,"$31,056.00",1,0,1/22/13,SP
2237,22,1976,Graduation,Divorced,"$46,310.00",1,0,12/3/12,SP
2238,528,1978,Graduation,Married,"$65,819.00",0,0,11/29/12,IND
2239,4070,1969,PhD,Married,"$94,871.00",0,2,9/1/12,CA

In [11]:
# In order to merge all the three csv files on common column "ID" we need to make sure that in all the files the datatype of the "ID" column is INT datatype

# Check the data type of the "ID" column in each DataFrame
print("Data type of 'ID' column in behaviour_df:", df_behaviour['ID'].dtype)
print("Data type of 'ID' column in demographics_df:", df_demographics['ID'].dtype)
print("Data type of 'ID' column in campaign_df:", df_campaign['ID'].dtype)

Data type of 'ID' column in behaviour_df: object
Data type of 'ID' column in demographics_df: int64
Data type of 'ID' column in campaign_df: object

#### As we can see in above cell that the data type of "ID" column is already in int64 for "demographics_df"so we need not do a conversion for it ,
#### we will convert only the data type of "ID" in "df_behaviour" and "df_campaign"

In [12]:
# Convert the "ID" column to int64 data type in behaviour_df and campaign_df
df_behaviour['ID'] = df_behaviour['ID'].astype('int64')
df_campaign['ID'] = df_campaign['ID'].astype('int64')

# Check the data type of the "ID" column in each DataFrame again
print("Data type of 'ID' column in behaviour_df:", df_behaviour['ID'].dtype)
print("Data type of 'ID' column in campaign_df:", df_campaign['ID'].dtype)

Data type of 'ID' column in behaviour_df: int64
Data type of 'ID' column in campaign_df: int64

In [13]:
# Merge df_behaviour, df_demographics, and df_campaign on the "ID" column
merged_df = pd.merge(df_behaviour, df_demographics, on="ID", how="inner")
merged_df = pd.merge(merged_df, df_campaign, on="ID", how="inner")

# Display the merged DataFrame
print(merged_df)

         ID  Recency  MntWines  MntFruits  MntMeatProducts  MntFishProducts  \
0      1826        0       189        104              379              111
1         1        0       464          5               64                7
2     10476        0       134         11               59               15
3      1386        0        10          0                1                0
4      5371        0         6         16               24               11
...     ...      ...       ...        ...              ...              ...
2235  10142       99       372         18              126               47
2236   5263       99         5         10               13                3
2237     22       99       185          2               88               15
2238    528       99       267         38              701              149
2239   4070       99       169         24              553              188

      MntSweetProducts  MntGoldProds  NumDealsPurchases  NumWebPurchases  ...  \
0                  189           218                  1                4  ...
1                    0            37                  1                7  ...
2                    2            30                  1                3  ...
3                    0             0                  1                1  ...
4                    0            34                  2                3  ...
...                ...           ...                ...              ...  ...
2235                48            78                  2                5  ...
2236                 8            16                  1                1  ...
2237                 5            14                  2                6  ...
2238               165            63                  1                5  ...
2239                 0           144                  1                8  ...

      Teenhome  Dt_Customer  Country  AcceptedCmp1 AcceptedCmp2 AcceptedCmp3  \
0            0      6/16/14       SP             0            0            0
1            0      6/15/14       CA             0            1            0
2            1      5/13/14       US             0            0            0
3            1      5/11/14      AUS             0            0            0
4            0       4/8/14       SP             0            0            1
...        ...          ...      ...           ...          ...          ...
2235         1       3/7/13       US             0            0            0
2236         0      1/22/13       SP             0            0            0
2237         0      12/3/12       SP             0            0            0
2238         0     11/29/12      IND             0            0            0
2239         2       9/1/12       CA             0            0            0

     AcceptedCmp4  AcceptedCmp5  Response Complain
0               0             0         1        0
1               0             0         1        0
2               0             0         0        0
3               0             0         0        0
4               0             0         1        0
...           ...           ...       ...      ...
2235            0             0         0        0
2236            0             0         0        0
2237            0             0         0        0
2238            0             0         0        0
2239            1             1         1        0

[2240 rows x 28 columns]

In [14]:
# Convert the merged DataFrame to a CSV file
#merged_df.to_csv('merged_data.csv', index=False)

In [17]:
print(df_behaviour.shape)
print(df_campaign.shape)
print(df_demographics.shape )

(2240, 13)
(2240, 8)
(2240, 9)