In [2]:
# importing necessary libraries 

import pandas as pd
import numpy as  np
import matplotlib.pyplot as plt
import seaborn as sns

c:\Users\amark\anaconda3\envs\Py38\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [4]:
# reading the dataframe file

data = pd.read_csv("merged_data.csv")

# reading the first 5 rows of the dataset

data.head()

,ID,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,...,Teenhome,Dt_Customer,Country,AcceptedCmp1,AcceptedCmp2,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,Response,Complain
0,1826,0,189,104,379,111,189,218,1,4,...,0,6/16/14,SP,0,0,0,0,0,1,0
1,1,0,464,5,64,7,0,37,1,7,...,0,6/15/14,CA,0,1,0,0,0,1,0
2,10476,0,134,11,59,15,2,30,1,3,...,1,5/13/14,US,0,0,0,0,0,0,0
3,1386,0,10,0,1,0,0,0,1,1,...,1,5/11/14,AUS,0,0,0,0,0,0,0
4,5371,0,6,16,24,11,0,34,2,3,...,0,4/8/14,SP,0,0,1,0,0,1,0

In [12]:
# Info about the data

data.dtypes

ID                      int64
Recency                 int64
MntWines                int64
MntFruits               int64
MntMeatProducts         int64
MntFishProducts         int64
MntSweetProducts        int64
MntGoldProds            int64
NumDealsPurchases       int64
NumWebPurchases         int64
NumCatalogPurchases     int64
NumStorePurchases       int64
NumWebVisitsMonth       int64
Year_Birth              int64
Education              object
Marital_Status         object
 Income                object
Kidhome                 int64
Teenhome                int64
Dt_Customer            object
Country                object
AcceptedCmp1            int64
AcceptedCmp2            int64
AcceptedCmp3            int64
AcceptedCmp4            int64
AcceptedCmp5            int64
Response                int64
Complain                int64
dtype: object