In [1]:
# importing necessary libraries 

import pandas as pd
import numpy as  np
import matplotlib.pyplot as plt
import seaborn as sns

c:\Users\amark\anaconda3\envs\Py38\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
# reading the dataframe file

data = pd.read_csv("merged_data.csv")

# reading the first 5 rows of the dataset

data.head()

,ID,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,...,Teenhome,Dt_Customer,Country,AcceptedCmp1,AcceptedCmp2,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,Response,Complain
0,1826,0,189,104,379,111,189,218,1,4,...,0,6/16/14,SP,0,0,0,0,0,1,0
1,1,0,464,5,64,7,0,37,1,7,...,0,6/15/14,CA,0,1,0,0,0,1,0
2,10476,0,134,11,59,15,2,30,1,3,...,1,5/13/14,US,0,0,0,0,0,0,0
3,1386,0,10,0,1,0,0,0,1,1,...,1,5/11/14,AUS,0,0,0,0,0,0,0
4,5371,0,6,16,24,11,0,34,2,3,...,0,4/8/14,SP,0,0,1,0,0,1,0

## Column Analysis (lets try to do some basic column analysis)

1) Find the different data types present in data
2) find out the number of columns for each data types and also what are the columns under that datatype 
3) Creating a function column_analysis to perform the task mentioned above

In [6]:
# Creating a function column_analysis to perform the task mentioned above

def column_analysis():
    # creating a new data frame for only columns
    df_column = pd.DataFrame(data.dtypes).reset_index()

    # Adding heading to column names 
    df_column.columns=["column_name","dtype"]
    df_column

    print("--------------------------------------------------------------")

    # what are the datatypes and it's value counts
    print(" Datatypes in the dataset and their respective value counts")
    display(df_column["dtype"].value_counts())

    print("--------------------------------------------------------------")


    # Group the DataFrame by 'dtype' column
    grouped_data = df_column.groupby('dtype')

    #Iterate over groups and display the grouped data
    for dtype, group in grouped_data:
        print("Data Type:", dtype)
        print(group)
        print()
        
# calling the function

column_analysis()

--------------------------------------------------------------
 Datatypes in the dataset and their respective value counts

int64     23
object     5
Name: dtype, dtype: int64

--------------------------------------------------------------
Data Type: int64
            column_name  dtype
0                    ID  int64
1               Recency  int64
2              MntWines  int64
3             MntFruits  int64
4       MntMeatProducts  int64
5       MntFishProducts  int64
6      MntSweetProducts  int64
7          MntGoldProds  int64
8     NumDealsPurchases  int64
9       NumWebPurchases  int64
10  NumCatalogPurchases  int64
11    NumStorePurchases  int64
12    NumWebVisitsMonth  int64
13           Year_Birth  int64
17              Kidhome  int64
18             Teenhome  int64
21         AcceptedCmp1  int64
22         AcceptedCmp2  int64
23         AcceptedCmp3  int64
24         AcceptedCmp4  int64
25         AcceptedCmp5  int64
26             Response  int64
27             Complain  int64

Data Type: object
       column_name   dtype
14       Education  object
15  Marital_Status  object
16         Income   object
19     Dt_Customer  object
20         Country  object