In [1]:
# importing necessary libraries 

import pandas as pd
import numpy as  np
import matplotlib.pyplot as plt
import seaborn as sns

c:\Users\amark\anaconda3\envs\Py38\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
# reading the dataframe file

data = pd.read_csv("merged_data.csv")

# reading the first 5 rows of the dataset

data.head()

,ID,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,...,Teenhome,Dt_Customer,Country,AcceptedCmp1,AcceptedCmp2,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,Response,Complain
0,1826,0,189,104,379,111,189,218,1,4,...,0,6/16/14,SP,0,0,0,0,0,1,0
1,1,0,464,5,64,7,0,37,1,7,...,0,6/15/14,CA,0,1,0,0,0,1,0
2,10476,0,134,11,59,15,2,30,1,3,...,1,5/13/14,US,0,0,0,0,0,0,0
3,1386,0,10,0,1,0,0,0,1,1,...,1,5/11/14,AUS,0,0,0,0,0,0,0
4,5371,0,6,16,24,11,0,34,2,3,...,0,4/8/14,SP,0,0,1,0,0,1,0

## Column Analysis (lets try to do some basic column analysis)

1) Find the different data types present in data
2) find out the number of columns for each data types and also what are the columns under that datatype 
3) Creating a function column_analysis to perform the task mentioned above

In [3]:
# Creating a function column_analysis to perform the task mentioned above

def column_analysis():
    # creating a new data frame for only columns
    df_column = pd.DataFrame(data.dtypes).reset_index()

    # Adding heading to column names 
    df_column.columns=["column_name","dtype"]
    df_column

    print("--------------------------------------------------------------")

    # what are the datatypes and it's value counts
    print(" Datatypes in the dataset and their respective value counts")
    display(df_column["dtype"].value_counts())

    print("--------------------------------------------------------------")


    # Group the DataFrame by 'dtype' column
    grouped_data = df_column.groupby('dtype')

    #Iterate over groups and display the grouped data
    for dtype, group in grouped_data:
        print("Data Type:", dtype)
        print(group)
        print()
        
# calling the function

column_analysis()

--------------------------------------------------------------
 Datatypes in the dataset and their respective value counts

int64     23
object     5
Name: dtype, dtype: int64

--------------------------------------------------------------
Data Type: int64
            column_name  dtype
0                    ID  int64
1               Recency  int64
2              MntWines  int64
3             MntFruits  int64
4       MntMeatProducts  int64
5       MntFishProducts  int64
6      MntSweetProducts  int64
7          MntGoldProds  int64
8     NumDealsPurchases  int64
9       NumWebPurchases  int64
10  NumCatalogPurchases  int64
11    NumStorePurchases  int64
12    NumWebVisitsMonth  int64
13           Year_Birth  int64
17              Kidhome  int64
18             Teenhome  int64
21         AcceptedCmp1  int64
22         AcceptedCmp2  int64
23         AcceptedCmp3  int64
24         AcceptedCmp4  int64
25         AcceptedCmp5  int64
26             Response  int64
27             Complain  int64

Data Type: object
       column_name   dtype
14       Education  object
15  Marital_Status  object
16         Income   object
19     Dt_Customer  object
20         Country  object

### Data Preprocessing for Data Visualisation

The Goal would be to do the following:

1) Check for any inconsistency in the dataset
2) check for missing values and handle it with some imputation statergy
3) Check for outliers in the dataset and decide what statergy can be used to replace them

In [4]:
# Checking the count of missing values before imputation

print(data.isna().sum())

ID                      0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
Year_Birth              0
Education               0
Marital_Status          0
 Income                24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Country                 0
AcceptedCmp1            0
AcceptedCmp2            0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
Response                0
Complain                0
dtype: int64

#### We have missing values only in Income

##### Below code will be dedicated to processing of only income

In [5]:
# Rename the column " Income " to "Income"
data  = data.rename(columns={" Income ":"Income"})


# creating a function "income_cao_transf" to perform all the task related to preprocessing of income columns

def income_col_transf():
    
     # As we can see the data in Income in in format $84,835 we need to remove the "$" and "," and ".00" convert the datatype of Income to Int64

    # Removing "$"
    data["Income"]=data["Income"].str.replace('$',"")
    # Removing ","
    data["Income"]=data["Income"].str.replace(',',"")
    # Removing ","
    data["Income"]=data["Income"].str.replace('.00',"")


    # filling the NaN values with 0 as string value 
    data["Income"] = data["Income"].fillna("0")

    # converting the datatype pf "Income" from object to int64
    data["Income"] = data["Income"].astype("int64")
    
#calling the function
income_col_transf()

C:\Users\amark\AppData\Local\Temp/ipykernel_23768/2154362394.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["Income"]=data["Income"].str.replace('$',"")
C:\Users\amark\AppData\Local\Temp/ipykernel_23768/2154362394.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  data["Income"]=data["Income"].str.replace('.00',"")

In [6]:
# Checking the count of missing values after imputation (included in the function income_col_transf() )

print(data.isna().sum())

ID                     0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt_Customer            0
Country                0
AcceptedCmp1           0
AcceptedCmp2           0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
Response               0
Complain               0
dtype: int64

##### So all the missing values in Income are imputed by 0 as per above code block

#### Here we need to observe one thing i.e before imputation there were 24 missing values in "Income"
1) I replaced all those  24 "Nan" values with "0"(string) 
2) Then I converted the data type of "Income" to Int 
3) After above steps if we check all the data for rows with income zero the o/p is 26 values. So here 2 rows already had zero value 

#### Now I would like to replace all the 26 (0 values) with mean of the "income"

In [7]:
# checking what all Rows have been replaced by 0

data.loc[data['Income'] ==0,"Income"]

134     0
262     0
394     0
449     0
525     0
590     0
899     0
997     0
1096    0
1185    0
1213    0
1312    0
1323    0
1515    0
1558    0
1693    0
1804    0
1858    0
1863    0
1880    0
1967    0
1983    0
2045    0
2139    0
2165    0
2170    0
Name: Income, dtype: int64

In [8]:
# create a variable to store the mean value 
mean_income= round(data["Income"].mean(),0)

# convert the mean_income to int value since all majority of values in the Income column are int datatype as this will maintain the homogenity 
mean_income = mean_income.astype("int64")

'The mean value of the Income Column is : {}'.format(mean_income)

'The mean value of the Income Column is : 50120'

In [9]:
# replacing the 26 values who had income zero with mean_income

data.loc[data['Income'] ==0,"Income"]=mean_income

In [11]:
# checking if the values are replaced correctly in the desired rows
data[data["Income"]==50120]["Income"]

134     50120
262     50120
394     50120
449     50120
525     50120
590     50120
899     50120
997     50120
1096    50120
1185    50120
1213    50120
1312    50120
1323    50120
1515    50120
1558    50120
1693    50120
1804    50120
1858    50120
1863    50120
1880    50120
1967    50120
1983    50120
2045    50120
2139    50120
2165    50120
2170    50120
Name: Income, dtype: int64